@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* common part  */

.text {
  color: #18191f;
  font-size: 1.1em;
  font-weight: 400;
}

.btn {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 600;
  padding: 24px 32px;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(88deg, #fba24f -7.64%, #ff1e1e 145.94%);
  box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
}

.btn:hover {
  color: #18191f;
  cursor: pointer;
}

/* banner section  */

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5em;
}

.banner-content h3 {
  color: #575757;
  font-size: 3.7em;
  font-weight: 700;
}

.banner-content span {
  color: #fba24f;
}

.banner-content p {
  color: #828282;
  font-size: 1.4em;
  font-weight: 500;
  padding-top: 2em;
  padding-bottom: 2.5em;
}

/* about me section  */

.about-me-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(images/shapes/Frame\ 56.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 3em;
  margin-bottom: 6em;
}

.about-me-content {
  width: 444px;
}

.about-me-content h3 {
  color: #707070;
  font-size: 2.5em;
  font-weight: 700;
}

.about-me-content p {
  padding-top: 2em;
  padding-bottom: 4em;
}

.about-me-img {
 position: relative;
 bottom: -4px;
}

.about-me-img img {
  width: 338px;
  height: 536px;
}

/* Responsive section  */

@media screen and (max-width: 576px) {
  /* banner section  */

  .banner-container {
    flex-direction: column-reverse;
  }

  .banner-content {
    width: 100%;
  }

  .banner-content h3 {
    font-size: 2em;
    text-align: center;
  }

  .banner-content p {
    padding: 1em;
    text-align: center;
  }

  .banner-img img {
    width: 100%;
  }

  .banner-content button {
    margin: 0 110px;
    font-size: 1.2em;
  }

  /* about me section  */

  .about-me-container {
    flex-direction: column;
  }

  .about-me-content {
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }

  .about-me-content button {
    position: relative;
    bottom: 2em;
  }

}
