@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* common part  */

.text {
  color: #18191f;
  font-size: 1.1em;
  font-weight: 400;
}

.btn {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: 600;
  padding: 24px 32px;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(88deg, #fba24f -7.64%, #ff1e1e 145.94%);
  box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
}

.btn:hover {
  color: #18191f;
  cursor: pointer;
}

/* banner section  */

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.5em;
}

.banner-container > img {
  width: 750px;
  height: 750px;
  position: absolute;
  z-index: -1;
  bottom: 7.55em;
  right: 10em;
  rotate: 15deg;
}

.banner-content h3 {
  color: #575757;
  font-size: 3.7em;
  font-weight: 700;
}

.banner-content span {
  color: #fba24f;
}

.banner-content p {
  color: #828282;
  font-size: 1.4em;
  font-weight: 500;
  padding-top: 2em;
  padding-bottom: 2.5em;
}

/* about me section  */

.about-me-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(images/shapes/Frame\ 56.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 3em;
  margin-bottom: 6em;
}

.about-me-content {
  width: 444px;
}

.about-me-content h3 {
  color: #707070;
  font-size: 2.5em;
  font-weight: 700;
}

.about-me-content p {
  padding-top: 2em;
  padding-bottom: 4em;
}

.about-me-img {
  position: relative;
  bottom: -4px;
}

.about-me-img img {
  width: 338px;
  height: 536px;
}

/* my recipies section  */

.recipies-container {
  margin-bottom: 6em;
}

.recipies-header {
  text-align: center;
}

.recipies-header h3 {
  color: #676767;
  font-size: 2.2em;
  font-weight: 700;
  text-decoration: underline;
}

.recipies-header p {
  width: 706px;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: auto;
}

.recipes-card-content {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.recipes-card {
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 2em;
}

.recipes-card h4 {
  color: #18191f;
  font-size: 1.9em;
  font-weight: 800;
  padding-top: 1em;
  padding-bottom: 0.5em;
  text-decoration: underline;
}

.recipes-card p {
  width: 500px;
}

.recipes-card img {
  width: 500px;
  height: 308px;
  border-radius: 16px;
}

/* social section  */

.social-container {
  margin-bottom: 5em;
}

.social-content {
  width: 1150px;
  display: flex;
  justify-content: space-around;
  padding: 60px 100px;
  border-radius: 20px;
  background-color: var(--Default-White, #fff);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.social-content h3 {
  color: #18191f;
  font-size: 3em;
  font-weight: 700;
}

.social-content p {
  color: #18191f;
  font-size: 1em;
  font-weight: 400;
}

/* Responsive section  */

@media screen and (max-width: 576px) {
  /* banner section  */

  .banner-container {
    flex-direction: column-reverse;
  }

  .banner-content {
    width: 100%;
  }

  .banner-content h3 {
    font-size: 2em;
    text-align: center;
  }

  .banner-content p {
    padding: 1em;
    text-align: center;
  }

  .banner-img img {
    width: 100%;
  }

  .banner-content button {
    margin: 0 110px;
    font-size: 1.2em;
  }

  .banner-container > img {
    width: 350px;
    height: 400px;
    position: absolute;
    z-index: -1;
    bottom: 24.8em;
    right: 0.1em;
    rotate: 0deg;
  }

  /* about me section  */

  .about-me-container {
    flex-direction: column;
    margin-bottom: 2em;
  }

  .about-me-content {
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }

  .about-me-content button {
    position: relative;
    bottom: 2em;
  }

  /* recipies section  */

  .recipies-container {
    margin-bottom: 2em;
  }
   
  .recipies-header p {
    width: 100%;
    padding: 1.5em 1em;
  }

  .recipes-card-content {
    flex-direction: column;
  }

  .recipes-card {
    width: 90%;
    margin: auto;
  }

  .recipes-card img {
    width: 100%;
    height: 100%;
  }

  .recipes-card p {
    width: 100%;
  }
   
  /* social section  */

  .social-content {
    width: 90%;
    gap: 1em;
    padding: 2em 2em;
  }

  .social-content h3 {
    font-size: 1.5em;
  }

  .social-content p {
    font-size: 0.5em;
  }



}
